[Unit]
Description=Turn on avahi-daemon if /boot/avahi is present
ConditionPathExistsGlob=/boot/avahi{,.txt}

[Service]
Type=oneshot
ExecStart=/bin/sh -c "update-rc.d avahi-daemon enable && invoke-rc.d avahi-daemon start && rm -f /boot/avahi ; rm -f /boot/avahi.txt"

[Install]
WantedBy=multi-user.target

